

.page-header  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 6rem;
    text-align: center;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 20px #999;
}

h2 a, h3 a, h4 a {
    text-decoration: none;
}


h2,
h3,
h4 { 
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
/*    border-bottom: 1px solid grey;*/
    padding: 4rem;
    box-shadow: 3px 2px 20px #ebebeb;
}

.post h2 a,
.post h2 a:visited {
    color: orange;
}

.post > .date,
.post > .actions {
    float: right;
    padding: 0.4rem .8rem;
    border: 2px solid #ebebeb;
    border-radius: 50rem;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}